@charset "utf-8";
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-track {
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 3px #dfdfdf inset;
  border-radius: 2px;
}
::-webkit-scrollbar {
  /*width: 8px;
    height: 10px*/
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-track {
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 3px #dfdfdf inset;
  border-radius: 2px;
}
::-webkit-scrollbar {
  /*width: 8px;
    height: 10px*/
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
}
@media only screen and (max-device-width: 1024px) {
  ::-webkit-scrollbar {
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 3px #dfdfdf inset;
    border-radius: 2px;
  }
}
/* CSS Document */
body {
  margin: 0 auto;
  margin: 0;
  padding: 0;
  font-family: OpenSansReg;
}
/*  Fonts installing*/
/* BEGIN Light */
@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/Light/OpenSans-Light.eot?v=1.1.0");
  src: url("../fonts/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("../fonts/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("../fonts/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("../fonts/Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'OpenSansLightItalic';
  src: url("../fonts/LightItalic/OpenSans-LightItalic.eot?v=1.1.0");
  src: url("../fonts/LightItalic/OpenSans-LightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff"), url("../fonts/LightItalic/OpenSans-LightItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/LightItalic/OpenSans-LightItalic.svg?v=1.1.0#LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: OpenSansReg;
  src: url("../fonts/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("../fonts/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../fonts/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../fonts/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../fonts/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'OpenSansItalic';
  src: url("../fonts/Italic/OpenSans-Italic.eot?v=1.1.0");
  src: url("../fonts/Italic/OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("../fonts/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff"), url("../fonts/Italic/OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("../fonts/Italic/OpenSans-Italic.svg?v=1.1.0#Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'OpenSansSemiBold';
  src: url("../fonts/Semibold/OpenSans-Semibold.eot?v=1.1.0");
  src: url("../fonts/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("../fonts/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("../fonts/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("../fonts/Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'OpenSansSemiBoldItalic';
  src: url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?v=1.1.0");
  src: url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg?v=1.1.0#SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/Bold/OpenSans-Bold.eot?v=1.1.0");
  src: url("../fonts/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("../fonts/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("../fonts/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("../fonts/Bold/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url("../fonts/BoldItalic/OpenSans-BoldItalic.eot?v=1.1.0");
  src: url("../fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/BoldItalic/OpenSans-BoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/BoldItalic/OpenSans-BoldItalic.svg?v=1.1.0#BoldItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'OpenSansExBold';
  src: url("../fonts/ExtraBold/OpenSans-ExtraBold.eot?v=1.1.0");
  src: url("../fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/ExtraBold/OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2"), url("../fonts/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff"), url("../fonts/ExtraBold/OpenSans-ExtraBold.ttf?v=1.1.0") format("truetype"), url("../fonts/ExtraBold/OpenSans-ExtraBold.svg?v=1.1.0#ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'OpenSansExBoldItalic';
  src: url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?v=1.1.0");
  src: url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg?v=1.1.0#ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic;
}
/* END Extrabold Italic */
/* BEGIN Roboto-Regular Italic */
@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/roboto_regular/Roboto-Regular.eot?v=1.1.0");
  src: url("../fonts/roboto_regular/Roboto-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/roboto_regular/Roboto-Regular.woff2?v=1.1.0") format("woff2"), url("../fonts/roboto_regular/Roboto-Regular.woff?v=1.1.0") format("woff"), url("../fonts/roboto_regular/Roboto-Regular.ttf?v=1.1.0") format("truetype"), url("../fonts/roboto_regular/Roboto-Regular.svg?v=1.1.0#ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic;
}
/* END Roboto-Regular Italic */
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto_Medium/Roboto-Medium.eot?") format("eot"), url("../fonts/Roboto_Medium/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto_Medium/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto_Medium/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*less type of css*/
/*variables*/
/*less type of css*/
/*conatainer starts*/
#wrapper {
  min-height: 550px;
  margin: 0 auto;
}
/*header starts*/
header {
  min-height: 60px;
  background-color: #052b75;
  padding: 5px 0;
}
/*headerleft starts*/
#headerleft {
  width: 250px;
  min-height: 20px;
  float: left;
  text-align: left;
}
#headerleft h1 {
  color: #ffffff;
  font-size: 20px;
  font-family: "OpenSansReg";
  margin: 0px;
  margin-left: 19px;
  padding-top: 13px;
}
/*headerleft ends*/
/*headerright starts*/
#headerright {
  width: 250px;
  height: 50px;
  float: right;
}
/*headerrightfirst starts*/
#headerrightfirst {
  width: 28px;
  min-height: 27px;
  float: left;
}
/*qborder starts*/
#qborder {
  width: 28px;
  height: 27px;
  float: left;
  font-size: 28px;
  margin-top: 14px;
  text-align: left;
  margin-left: 10px;
}
.fa-exclamation-circle {
  color: #ffffff;
}
#qborder.qsumup {
  margin-top: 5px;
}
/*qborder ends*/
/*headerrightfirst ends*/
/*headerrightsecond starts*/
#headerrightsecond {
  width: 64px;
  min-height: 61px;
  float: left;
  margin-left: 25px;
  margin-top: 0px;
}
#headerrightsecond img {
  border-radius: 50px;
}
/*headerrightsecond ends*/
/*headerrightlast starts*/
#headerrightlast {
  width: 110px;
  min-height: 50px;
  float: left;
  color: #ffffff;
  font-family: OpenSansBold;
  font-size: 14px;
  margin-top: 10px;
  margin-left: -30px;
  font-weight: normal;
}
#headerrightlast .navigation {
  color: #ffffff !important;
}
/* HEADER > MENU */
.main-menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.main-menu {
  float: left;
  font-size: 0;
  margin: 0;
}
.main-menu > li {
  display: inline-block;
  margin-left: 10px;
  padding: 2px 0;
}
.main-menu > li > a {
  color: #ffffff;
}
.main-menu > li.parent {
  padding-right: 10px;
  width: 146px;
}
.main-menu > li.parent > a {
  padding-left: 14px;
}
.main-menu > li > a {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding: 30px 0;
  text-decoration: none;
}
.main-menu > li:hover > a,
.main-menu > li.current-menu-item > a {
  color: #81bc00;
}
/* HEADER > MENU > DROPDOWN */
.main-menu li {
  position: relative;
}
.main-menu img {
  float: left;
  padding-right: 3px;
}
.tooltip-uparrowcust {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  margin-left: 150px;
}
ul.sub-menu {
  /* level 2 */
  display: none;
  left: -101px;
  top: 26px;
  padding-top: 0px;
  position: absolute;
  width: 230px;
  z-index: 9999;
  text-align: left;
}
ul.sub-menu > li > a {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-top: none;
  color: #222;
  display: block;
  font-size: 14px;
  line-height: 15px;
  padding: 13px 12px;
  text-decoration: none;
  font-weight: normal;
}
ul.sub-menu > li > a i {
  font-size: 15px;
}
ul.sub-menu .userdesignation {
  color: #ccc;
  font-size: 13px;
  display: block;
  margin-top: 12px;
  padding-bottom: 5px;
}
.D_textInHeader {
  font-family: OpenSansBold;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
  position: absolute;
  left: 16px;
}
.usrfullname {
  /*display:block;*/
}
ul.sub-menu > li > a:hover {
  color: #000;
  background: #efefef;
}
ul.sub-menu > li:first-child {
  /*border-top: 3px solid #23dbdb;*/
}
ul.sub-menu ul.sub-menu > li:first-child {
  border-top: 1px solid #444;
}
ul.sub-menu > li:last-child > a {
  border-radius: 0 0 2px 2px;
}
ul.sub-menu > li > a.parent {
  background-size: 5px 9px;
  background-repeat: no-repeat;
  background-position: 95% center;
}
.sub-menu img {
  border-radius: 5px;
  margin-right: 10px;
}
.sub-menu i {
  margin-right: 10px;
}
.main-menu li:hover > ul.sub-menu {
  display: block;
  /* show the submenu */
}
/*headerrightlast ends*/
/*headerright ends*/
/*header ends*/
/*subheader starts*/
#subheader {
  min-height: 41px;
  clear: both;
  background-color: #00a1de;
}
/*subheaderleft starts*/
#subheaderleft {
  width: 500px;
  min-height: 30px;
  float: left;
}
/*backbtn starts*/
.backbtnimg:link,
.backbtnimg:visited,
.backbtnimg:hover,
.backbtnimg:active {
  text-decoration: none;
  padding: 5px 7px;
}
/*backbtn ends*/
/*homebtn starts*/
.homebtn {
  width: 35px;
  min-height: 28px;
  float: left;
  margin-top: 7px;
  background-color: #4ebee9;
  border-radius: 5px;
  margin-left: 25px;
  padding-top: 3px;
  padding-left: 2px;
}
.homebtn img {
  padding-right: 10px;
}
/*homebtn ends*/
/*detailbackbtn starts*/
#detailbackbtn {
  width: 90px;
  min-height: 30px;
  float: left;
  margin-top: 11px;
}
/*detailbackbtn ends*/
/*backbtn starts*/
.backbtn:link,
.backbtn:visited,
.backbtn:hover,
.backbtn:active {
  background-color: #4ebee9;
  font-size: 13px;
  color: #ffffff;
  font-family: "OpenSansSemiBold";
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 5px;
  margin-left: 20px;
}
/*backbtn ends*/
/*subheaderpara starts*/
#subheaderpara {
  min-height: 30px;
  float: left;
  padding: 10px;
}
#subheaderpara p {
  font-size: 13px;
  color: #ffffff;
  font-family: "OpenSansSemiBold";
}
.profilePic img {
  border-radius: 100px;
  width: 160px;
}
.searchComponent {
  width: 87%;
  border: 1px solid #ccc;
  margin: 35px;
  padding: 7px;
  border-radius: 5px;
  position: relative;
  top: 20px;
}
.searchComponent input {
  width: 85%;
  border: none;
  font-size: 16px;
  margin-left: 5%;
}
.searchComponent input:focus {
  outline: none;
}
.searchComponent input[type=text]::-ms-clear {
  display: none;
}
.searchComponent .dropdown-menu {
  top: 6px !important;
  left: -8px !important;
  width: 104%;
  padding: 10px;
  overflow: auto;
  line-height: 20px;
  position: relative;
  /*margin-bottom:40px;*/
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
.dot {
  font-size: 26px;
  padding: 0 5px;
  display: inline-block !important;
  position: relative;
  top: -3px;
}
.camaClass {
  display: inline-block !important;
  font-size: 16px;
  padding-right: 5px;
}
.PIIDataClass {
  display: none !important;
}
.inactive_dot {
  padding: 0 3px 0 1px;
  display: inline-block !important;
  position: relative;
  top: -3px;
}
.tatypeahead-input-close {
  opacity: .3;
  cursor: pointer;
}
.tatypeahead .pagination-button {
  margin-bottom: 10px;
  margin-left: 10px;
}
.popOpen {
  display: block;
}
.popClose {
  display: none;
}
/*headcountcommon styles*/
section {
  text-align: left;
}
a,
a:visited,
a:focus {
  text-decoration: none;
  font-family: OpenSansReg;
}
/* Safari Conditional CSS  */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari and Chrome, if Chrome rule needed */
  a,
  a:visited,
  a:focus {
    font-family: OpenSansReg;
  }
  /* Safari 5+ ONLY */
  ::i-block-chrome,
  a,
  a:visited,
  a:focus {
    font-family: OpenSansSemiBold;
  }
}
a:hover {
  text-decoration: none;
  color: #00a1de;
}
img {
  border: none;
}
.ng-scope.active div.srchList {
  background: #f9f9f9;
}
.editView,
.editView:hover,
.editView:visited,
.editView:focus {
  font-weight: bold;
  color: #f0f1f3;
  font-size: 12px;
  margin-top: 40px;
}
.editViewGreen {
  color: #7DC000 !important;
  font-weight: bold;
  font-size: 12px;
  margin-top: 40px;
}
div.employeeQuickview {
  background-image: url("/images/EmployeeQuickview-Default.png");
  width: 40px;
  height: 40px;
}
div.employeeQuickview.selected {
  background-image: url("/images/EmployeeQuickview-Selected.png");
}
div.headcountManagement {
  background-image: url("/images/HeadcountMgmt-Default.png");
  width: 40px;
  height: 40px;
}
div.headcountManagement.selected {
  background-image: url("/images/HeadcountMgmt-Selected.png");
}
div.totalRewards {
  background-image: url("/images/TotalRewards-Default.png");
  width: 40px;
  height: 40px;
}
div.totalRewards.selected {
  background-image: url("/images/TotalRewards-Selected.png");
}
div.adhocReporting {
  background-image: url("/images/AdhocReporting-Default.png");
  width: 40px;
  height: 40px;
}
div.adhocReporting.selected {
  background-image: url("/images/AdhocReporting-Selected.png");
}
div.visandAnalytics {
  background-image: url("/images/VisandAnalytics-Default.png");
  width: 40px;
  height: 40px;
}
div.visandAnalytics.selected {
  background-image: url("/images/VisandAnalytics-Selected.png");
}
.bg-blue {
  background: #00a1de;
}
.pad0px {
  padding: 0px;
}
.mar0px {
  margin: 0px;
}
.marT20px {
  margin-top: 20px;
}
.colorWhite {
  color: #fff;
}
/*headcountcommon styles*/
@media (min-width: 768px) and (max-width: 1024px) {
  /*body.modal-open{ position:fixed;}*/
  .modal-dialog {
    width: 550px;
  }
  #secondlist {
    margin-left: 0 !important;
  }
  .nav-tabs > li > a {
    font-size: 12px !important;
  }
}
